<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
        <div class="logo">
            Loogoo
        </div>

        <ul>
            <li [routerLink]="['/']">
                <mat-icon>developer_board</mat-icon>
                <p>Dashboard</p>
            </li>
            <li [routerLink]="['/user']">
                <mat-icon>person</mat-icon>
                <p>User</p>
            </li>
            <li [routerLink]="['/dashboard']">
                <mat-icon>developer_board</mat-icon>
                <p>Dashboard</p>
            </li>
        </ul>

    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            <span>Simple CRM</span>
        </mat-toolbar>
    </div>

    <div class="router-component">
        <router-outlet></router-outlet>
        
    </div>

</mat-drawer-container>